/*styles for home content only*/
path.line {
    stroke: #e0e0e0;
    fill: none;

    &.line-0 {
        stroke: #e0e0e0;
    }

    &.line-1 {
        stroke: #bbb;
    }

    &.line-2 {
        stroke: #888;
    }

    &.line-3 {
        stroke: black;
    }

    &.line-4 {
        stroke: red;
    }
}